<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoRent</title>
    <link rel="stylesheet" href={% static 'stylesheets/style.css' %}>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css"
    />
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script
      src="https://kit.fontawesome.com/30e1c676d3.js"
      crossorigin="anonymous"
    ></script>
    {% tailwind_css %} {%block head%} {%endblock%}
  </head>
  <body class="max-w-screen-xl">
    <header>{% block header %} {% endblock %}</header>
    <main>{% block content %} {% endblock %}</main>
    <footer>{% block footer %} {% endblock %}</footer>
  </body>
</html>
